[submodule "ibcrypt"]
	path = ibcrypt
	url = https://github.com/iburinoc/ibcrypt
[submodule "libibur"]
	path = libibur
	url = https://github.com/iburinoc/libibur
[submodule "inet/libibur"]
	path = inet/libibur
	url = https://github.com/iburinoc/libibur
